* {
    padding: 0;
    font-family: 'Fraunces', serif;

    margin: 0;
}

header h1 {
    text-align: center;
    font-size: 2.2em;
    letter-spacing: 2px;
    margin-top: 10px;
    color:#001219;
    margin-bottom: 100px;
}

.input1 {
     
     display: flex;
    justify-content: center;
    align-items: center;
}
#user{
    padding:12px;
    width:40%;
    border:0;
    background-color: #fae1dd;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

#submit {
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding:12px;
    cursor: pointer;
    background-color: royalblue;
}

 
 #container {
     display: flex;
 }